//- Este archivo contiene un conjunto de utiles mixins que se pueden utilizar en
//- todas las plantillas Pug del proyecto para facilitar la programacion

//- Declaramos una variable que contenga los URLs de las carpetas de interes del
//- proyecto
- 
  var dir = { root: '../' };
  dir.lib = dir.root + 'node_modules/';
  dir.layouts = dir.root + 'layouts/';
  dir.behaviors = dir.root + 'behaviors/';
  dir.resources = dir.root + 'resources/';
  dir.styles = dir.root + 'styles/';